* {
  box-sizing:border-box;
}
body {
  background-color:white;
  color:white;
  font-family: 'Noe Display', Helvetica, Arial, sans-serif;
  font-weight:500;
  margin:0;
  padding:0;
  transition: background-color .5s ease-in-out;
}
.blackBG {
  background-color:black;
}
#container {
  margin: 0 auto;
  width: 100vw;
  padding: 10vh;
}

.menuItem {
  width:auto;
  overflow:hidden;
}
.menuItem:first-of-type .innerText {
  font-style:italic;
}
.menuItem .innerText {
  font-size:8em;
  margin: 0px;
  transform: translateY(100%);
  transition: all 1s ease-out;
}
.menuItem > .innerText.animated {
  transform: translateY(0%);
}

